body {
    font-family: sans-serif;
}

p {
    font-size: 16px;
    color: #475550;
}
.hero-tittle{
    color: #0a7e51;
    font-weight: 600;
    line-height: 55px;
    font-size: 45px;
    margin: 0;
    padding: 20px;
    background-color: red;
}

.section-titlle{
    font-weight: 600;
    line-height: 42px;
    font-size: 28px;

}

.picture {
    border-radius: 100%;
    left: 200px;
}

.button{
    color: white;
    background-color: green;
    border-radius: 10px;
    padding: 15px 30px;
    text-decoration: none;

}