*{
    margin: 0;
    padding: 0;
}



body {
    font-family: sans-serif;
}

p {
    font-size: 20px;
    color: #475550;
}
.hero-tittle{
    color: #0a7e51;
    font-weight: 600;
    line-height: 55px;
    font-size: 45px;
    margin: 0;
    padding: 20px;
    margin-bottom: 30px;
}

.section-titlle{
    font-weight: 600;
    line-height: 42px;
    font-size: 28px;

}

.picture {
    border-radius: 100%;
    left: 200px;
}

.button{
    color: white;
    background-color: green;
    border-radius: 10px;
    padding: 15px 30px;
    text-decoration: none;

}

.header {
    background-image: url(5d4c18a28620ae56f733b01a_hero-image.jpg);
    background-size: cover;
    height: 700px;
    width: 100%;
    background-position: 50% 25%;
    padding: 20px;
}

.header-content{
    max-width: 60%;
    margin-left: 15px;
}

.headedr-text {
    max-width: 75%;
}

