* { font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #919090;
}
/* CABEÇALHO */
.cabeçalho {
    display: flex;
    justify-content: space-between;
    background-color: #B8B6B6;
}

.title {
    color: #3D2314;
    font-size: 20px;
    font-weight: bolder;
    padding-top: 25px;
    padding-left: 15px;
}

.nav-links ul {
    display: flex;
    gap: 80px;
    padding-top: 45px;
    padding-right: 25px;
    list-style: none;
}

.nav-links ul li a{
    font-size: 20px;
    text-decoration: none;
    color: #3D2314;
}

.nav-links ul li a:hover {
    color: black;
}
/* MAIN */

.content {
    display: flex;
    justify-content: space-between;
}

.content-vision h2 {
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
    color: #D1A083;
    margin-top: 15px;
}


